@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --12px-regular-font-family: "Inter", Helvetica;
  --12px-regular-font-size: 12px;
  --12px-regular-font-style: normal;
  --12px-regular-font-weight: 400;
  --12px-regular-letter-spacing: 0px;
  --12px-regular-line-height: 130%;
  --14px-medium-font-family: "Inter", Helvetica;
  --14px-medium-font-size: 14px;
  --14px-medium-font-style: normal;
  --14px-medium-font-weight: 500;
  --14px-medium-letter-spacing: 0px;
  --14px-medium-line-height: 18px;
  --14px-regular-font-family: "Inter", Helvetica;
  --14px-regular-font-size: 14px;
  --14px-regular-font-style: normal;
  --14px-regular-font-weight: 400;
  --14px-regular-letter-spacing: 0px;
  --14px-regular-line-height: 18px;
  --14px-semibold-font-family: "Inter", Helvetica;
  --14px-semibold-font-size: 14px;
  --14px-semibold-font-style: normal;
  --14px-semibold-font-weight: 600;
  --14px-semibold-letter-spacing: 0px;
  --14px-semibold-line-height: 18px;
  --body-xs-12-font-family: "Inter", Helvetica;
  --body-xs-12-font-size: 12px;
  --body-xs-12-font-style: normal;
  --body-xs-12-font-weight: 400;
  --body-xs-12-letter-spacing: 0px;
  --body-xs-12-line-height: 16px;
  --heading-base-16-font-family: "Inter", Helvetica;
  --heading-base-16-font-size: 16px;
  --heading-base-16-font-style: normal;
  --heading-base-16-font-weight: 700;
  --heading-base-16-letter-spacing: 0px;
  --heading-base-16-line-height: 24px;
  --label-base-16-font-family: "Inter", Helvetica;
  --label-base-16-font-size: 16px;
  --label-base-16-font-style: normal;
  --label-base-16-font-weight: 500;
  --label-base-16-letter-spacing: 0px;
  --label-base-16-line-height: 24px;
  --label-sm-14-font-family: "Inter", Helvetica;
  --label-sm-14-font-size: 14px;
  --label-sm-14-font-style: normal;
  --label-sm-14-font-weight: 500;
  --label-sm-14-letter-spacing: 0px;
  --label-sm-14-line-height: 20px;
  --label-xs-12-font-family: "Inter", Helvetica;
  --label-xs-12-font-size: 12px;
  --label-xs-12-font-style: normal;
  --label-xs-12-font-weight: 500;
  --label-xs-12-letter-spacing: 0px;
  --label-xs-12-line-height: 16px;
  --text-sm-font-medium-font-family: "Inter", Helvetica;
  --text-sm-font-medium-font-size: 14px;
  --text-sm-font-medium-font-style: normal;
  --text-sm-font-medium-font-weight: 500;
  --text-sm-font-medium-letter-spacing: 0px;
  --text-sm-font-medium-line-height: 20px;
  --text-sm-leading-5-font-normal-font-family: "Inter", Helvetica;
  --text-sm-leading-5-font-normal-font-size: 14px;
  --text-sm-leading-5-font-normal-font-style: normal;
  --text-sm-leading-5-font-normal-font-weight: 400;
  --text-sm-leading-5-font-normal-letter-spacing: 0px;
  --text-sm-leading-5-font-normal-line-height: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
